<li class="media my-2 coffee-order" data-orderId="{{id}}">
  <!-- <i
    class="fa fa-coffee fa-4x mr-3"
    aria-hidden="true"
    style="color : {{iconColor}}"
  ></i> -->
  <img
    src="{{image}}"
    class="rounded mr-3"
    alt="coffee"
    width="70rem"
    height="70rem"
  />
  <div class="media-body">
    <h5 class="mt-0 mb-1 text-primary">{{coffeeName}}</h5>
    <div class="d-flex justify-content-between">
      <span>
        <span class="font-weight-bold">Order By :</span> {{personName}}
      </span>
      <span>
        <span class="font-weight-bold">Time :</span> {{submittedAt}}
      </span>
    </div>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar"
        aria-valuenow="0"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 0%;"
      ></div>
    </div>
  </div>
  <button type="button" class="close remove-coffee" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</li>
